* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://media.giphy.com/media/3o7aD2saalBwwftBIY/giphy.gif') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards; /* Aggiunto effetto di fade-in */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
        padding: 20px;
    }

    img {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    body {
        padding: 10px;
    }

    img {
        max-width: 100%;
    }
}
